.config/chromium
.config/corebird
.config/dconf
.config/enchant
.config/evolution
.config/gconf
.config/gedit
.config/goa-1.0
.config/google-chrome
.config/gpick
.config/gpicview
.config/gtk-2.0
.config/gtk-3.0
.config/gtox
.config/menus
.config/mimeapps.list
.config/nitrogen
.config/orage
.config/pnmixer
.config/terminator
.config/Thunar
.config/tox
.config/zathura
